{% extends "base.html" %} {% block content %} {% if all_my_cars %}
<ul class="list-group">
  {% for car in all_my_cars %}
  <li class="list-group-item">
    {{ car.make }} {{ car.model }}; {{ car.year }} m.
    <a
      role="button"
      class="btn btn-danger float-right mr-1"
      href="{{ url_for('delete_car', id=car['id']) }}"
      >trinti</a
    >
    <a
      role="button"
      class="btn btn-primary float-right mr-1"
      href="{{ url_for('edit_car', id=car['id']) }}"
      >redaguoti</a
    >
    <a
      role="button"
      class="btn btn-success float-right mr-1"
      href="{{ url_for('car_defects', id=car['id']) }}"
      >gedimu istorija</a
    >
  </li>
  {% endfor %}
</ul>
{% endif %}
<a class="btn btn-primary" role="button" href="{{ url_for('new_car') }}"
  >Naujas automobilis</a
>
<a class="btn btn-warning" role="button" href="{{ url_for('new_defect') }}"
  >Naujas gedimas</a
>

{% endblock content %}
