{% extends 'base.html' %} {% block content %} {% if defect %}
<h1>{{ car.make }} {{ car.model }} {{ car.year }}</h1>
{% endif %}
<form method="post" action="#">
  {{form.hidden_tag()}}
  <div class="form-group">
    {{form.car_id.label(class="form-control-label")}} {% if not
    current_user.is_worker %} {% if defect %}
    {{form.car_id(class="form-control", value=defect.car['id'])}} {% if car_id
    is not none %} {{ defect.car['id'] }} {% endif %} {% else %}
    {{form.car_id(class="form-control")}} {% endif %} {% else %} {{ defect.car
    }} {% endif %}
  </div>
  <div class="form-group">
    {{form.description.label(class="form-control-label")}} {% if not
    current_user.is_worker %} {% if defect %}
    {{form.description(class="form-control", value=defect.description)}} {% else
    %} {{form.description(class="form-control")}} {% endif %} {% else %} {{
    defect.description }} {% endif %}
  </div>
  {{form.submit()}}
</form>
{% endblock content %}
